
<%- include('../layouts/header') %>

<header>
    <div class="right-align">
        <a href="/">Back</a>
    </div>
  </header>


    <div class="container d-flex flex-column align-items-center mt-3">
        <h1>User Login</h1>
        <form class="mt-2" action="/login" method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" required>
    
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
    
            <input type="submit" value="Login" class="login">
        </form>
        <% if(typeof message !== 'undefined'){ %>
            <h4 class="text-danger mt-2"><%= message %></h4>
        <% } %>
    </div>



    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #e9ecef;
            /* display: flex; */
            /* align-items: center; */
            /* justify-content: center; */
            height: 100vh;
            margin: 0;
        }
        header {
    background-color: #333;
    color: #fff;
    padding: 2.4em;
    text-align: center;
    
  }
  a{
    text-decoration: none;
    color: #ddd;
    margin-right: 1em;
  }
  .right-align {
    text-align: right;
    position: relative;
    top: 2em;
  }
        
        form {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 100%;
        }
        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }
        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 16px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .login{
            background-color: #4CAF50;
            color: white;
            font-size: 1.1em;
            cursor: pointer;
        }
        .login:hover {
            background-color: #45a049;
        }
    </style>

<%- include('../layouts/footer') %>